{% extends 'base.html' %}


{% block content  %}
<!-- Header-->
<header class="py-5" style="background-color: #F5ECEC">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Sobre nosotros</h1>
            <p class="lead fw-normal text-black-50 mb-0">Tienda virtual</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <p class="lead fw-normal">
                    ¡Bienvenido a nuestra tienda en línea!
                    <br>
                    Somos un equipo apasionado de personas comprometidas con proporcionar a nuestros clientes una experiencia de compra excepcional en el mundo digital.
                    <br>
                    En nuestra tienda, encontrarás una cuidadosa selección de productos que van desde juguetes hasta artículos para el hogar.
                    <br>
                    Nos esforzamos por mantenernos al día con las últimas tendencias y tecnologías para garantizar que nuestros clientes siempre encuentren algo nuevo y emocionante en nuestra plataforma.
                    <br>
                    <strong>Gracias por visitar nuestra tienda en línea.</strong>Esperamos que disfrutes explorando nuestra amplia selección de productos y que encuentres exactamente lo que estás buscando.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}