{% extends 'base.html' %}


{% block content  %}

<div class="container">
    <div class="row">
        <div class="alert alert-primary fw600 rounded-0 border-0 py-3" role="alert">
            <u>Antes de añadir al carrito</u> no olvides seleccionar la cantidad de productos a comprar.
        </div>
        
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <br>
                <div class="card mb-3">
                    <img src="{{ product.image.url }}" class="mx-auto" alt="responsive image">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <h3>${{ product.price }}</h3>
                      <select class="form-select form-select-sm" id="quantity-cart" aria-label="Small select example">
                        <option selected>Cantidad</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>

                      <br>
                      <!--Cada product tiene un id unico-->
                      <button type="button" value="{{ product.id }}" class="btn btn-success" id="add-cart">Añadir al carrito</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<script>
    
    /*
    Referenciar el boton añadir al carrito a traves de su #id.
    Al presionar ese boton hacemos una peticion AJAX al servidor
    */

    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: $('#add-cart').val(),
                product_quantity: $('#quantity-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            /* Cuando agregamos un producto al carrito */
            success: function(json){
                document.getElementById("cart_quantity").innerHTML = json.quantity
            },

            /* Si ocurre un error */
            error: function(xhr, errmsg, err) {

            }
        });

    });

</script>

{% endblock %}
