{% extends 'base.html' %}


{% block content  %}
<!-- Header-->
<header class="py-5" style="background-color: #F5ECEC">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Crear cuenta</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <br><br>
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}

                    <!--Formulario de registro-->
                    {{ form.as_p}}
                    <br><br>
                    <button type="submit" class="btn btn-primary">Regístrate</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}